[submodule "external/claw-eval"]
	path = external/claw-eval
	url = https://github.com/claw-eval/claw-eval
[submodule "external/OdysseyBench"]
	path = external/OdysseyBench
	url = https://github.com/microsoft/OdysseyBench
[submodule "external/Gym"]
	path = external/Gym
	url = https://github.com/NVIDIA-NeMo/Gym
[submodule "external/verifiers"]
	path = external/verifiers
	url = https://github.com/PrimeIntellect-ai/verifiers
